# Copy to .env and fill values.
# Used by django-decouple via `config("..." )`.

# Required
SECRET_KEY=change-me

# Optional (used to override the default sqlite DB)
# Example: DATABASE_URL=postgres://user:pass@host:5432/dbname
DATABASE_URL=

# Cloudinary (used for production media uploads)
CLOUDINARY_CLOUD_NAME=book_site
CLOUDINARY_API_KEY=554977597953862
CLOUDINARY_API_SECRET=9-51Oys87YRFMqgTSTaHDJ1RPjY

